In [ ]:
import pandas as pd
import numpy as np
import re
from datetime import datetime
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('./films.csv')

#Create a backup of the original dataset to verify during coding.
df4 = pd.read_csv('./films.csv')

In [ ]:
df = df.drop(df[df['Director Name'] == 'تست کاوه'].index)

In [ ]:
df

## Creating gender column

In [ ]:
df['Director Name'] = df['Director Name'].str.strip().str.lower().str.title()

In [ ]:
df['Director Name'].unique()

In [ ]:
#Male's names
male_names_list = [
   'احمد', 'پدرام', 'مهدی', 'محمد', 'حمید رضا', 'آرش', 'خشایار',
       'مهرداد', 'امیر', 'میثم', 'محسن', 'کیان', 'mobin', 'حسام و عباس',
       'مهران', 'علی', 'اسماعیل', 'Mostafa', 'Arash', 'دانیال', 'حمید',
       'سامان', 'مرتضی', 'سروش', 'صباح', 'ناصر', 'Amir', 'هاشم',
       'Abdul hamid', 'ایمان', 'Hesam', 'مصطفی', 'سینا - امیر', 'حسین',
       'رضا', 'محمد مهدی', 'meysam', 'هامون', 'سید مرتضی', 'مسعود',
       'شاهین', 'کیانوش', 'بهراد', 'Saman', 'Caner', 'Bardia', 'Hamed',
       'Kadir', 'سید محمد علی', 'وحید', 'حبیب', 'آزاد', 'محمود', 'عقیل',
       'Iman', 'Saeed', 'بهمن', 'محمدرضا', 'عادل', 'Mojtaba', 'Mohamad',
       'سجاد', 'خلیل', 'مختار', 'مادیار', 'شفق', 'Ali', 'هاوار', 'فرزین',
       'آکو', 'Nali', 'سعید', 'Hassan', 'آریوبرزن', 'AILI', 'Kaveh',
       'بهروز', 'Mohamadsina', 'مجید', 'یاسر', 'صابر', 'Muhammadreza',
       'امیرمحمد', 'شادمهر', 'Orod', 'پیمان', 'فرید', 'محمد امین', 'سینا',
       'نادر', 'Yassine', 'Ahmad and Mohamad', 'Mohamad and Ahmad',
       'Mohsen', 'فواد', 'سیاوش', 'Sahand', 'علیرضا', 'Moj',
       'Hamidreza and Hamed', 'Rowal', 'Hadi', 'امیراردلان', 'Siavash',
       'محمدمهدی', 'Reza', 'کوروش', 'Kiarash', 'SAHAND', 'احسان', 'معین',
       'Shahoo', 'ارسطو', 'Bahman , Ramin', 'Nima', 'Masoud', 'Pedram',
       'رسام', 'عباس', 'Farshid', 'حمیدرضا', 'بهنام', 'سید عدنان',
       'محمد رضا', 'مجتبی', 'شهاب', 'آژاک', 'آرمین', 'Mobin', 'یوسف',
       'Madyar', 'فربد', 'محمد نام مستعار پویا', 'Kapil', 'نیما', 'Omid',
       'ali', 'Mehdi, Saied', 'Armin', 'عزت الله', 'هادی', 'Navid',
       'Sarkot', 'Sabah', 'Shahryar', 'Sohaib', 'فرشاد', 'Parsa', 'Ahmad',
       'محسن  - جواد', 'مبین', 'Kamran', 'محمد(شهرام)', 'مصطفا', 'رامین',
       'Husnora', 'فرگل - سیدحسین', 'مازیار', 'بیژن', 'عرفان', 'رسول',
       'Zabiullah', 'nazir', 'کورش', 'مهریار', 'فرشید', 'صالح', 'اطهر',
       'سیدجواد', 'شهرام', 'نوید', 'محمدعلی', 'کیا', 'komeil', 'Rahbar',
       'Mohamadreza', 'Roghayeh', 'آرمان', 'اکبر', 'ارمین', 'میلاد',
       'امیررضا', 'حامد', 'بهادر', 'سهیل - فریما', 'صادق', 'متین',
       'Arman', 'صحرا', 'کیارش', 'بهروز ، شیرین ، فرناز', 'mehdi',
       'مهدی (پوریا)', 'اهورا', 'عرشیا', 'کورُش', 'منصور', 'اردشیر',
       'پوریا', 'آرسان', 'کیانمهر', 'Swayam', 'Alireza', 'Monir', 'جابر',
       'Shahin', 'Başak', 'سبحان ، محمد', 'Tahmineh', 'جواد', 'ASoq',
       'Mohammad Mahdi', 'Kiarash, Arash', 'Sajad, Alireza', 'Peyvand',
       'عمران', 'Saleh', 'Amirhossein', 'Yasaman', 'Mumin', 'افشین',
       'مسلم', 'شهریار', 'دلاور', 'بابک', 'Maggie', 'امیرمحسن', 'Odina',
       'khaled', 'Amen', 'پرستو / سیاوش', 'محمدحسن', 'ماجد', 'بهزاد',
       'Morteza', 'بنی', 'Hasainar', 'کیوان', 'Ehsan', 'فرهاد',
       'سید جواد', 'Mohammad', 'omid', 'اصغر', 'فرزاد', 'امیرحسین',
       'مهدي', 'حسن', 'بهرام', 'محمد علی', 'mathlouthi', 'سید محمدحسین',
       'محمدنبی', 'محمدجواد', 'سید محمدرضا', 'navid', 'marwa',
       'Shiblul Haque Shuvon', 'عیسی', 'علی محمد', 'علی اکبر', 'محمدحسین',
       'محمد پوریا', 'روزبه', 'محمد جواد', 'Davoud', 'سورنا', 'امین',
       'سهیل', 'جمشید', 'پارسا', 'بهار', 'نیما و آلما', 'صمد',
       'مهدی / مهدی', 'Erraihani', 'سید مهدی', 'Sasan', 'اشکان', 'بلال',
       'کاووس', 'محمدهادی', 'فردین', 'رهام', 'Sajad/Mehdi', 'باربد',
       'سید علی', 'سعید کشاورز', 'غلامحسین', 'Parvez', 'کسرا', 'حسام',
       'Mashaallah', 'عدنان', 'آلما و نیما', 'پیام', 'محمد عرفان',
       'امیرعلی', 'مسیح', 'طاها', 'عارف', 'فریبا ، مهدی (دو کارگردان)',
       'امید', 'ارمان', 'آرمین _رادین', 'آریا', 'شروین', 'مانی', 'پویا',
       'مهیار', 'امیر حسین', 'آروین', 'یاسین', 'صدرا', 'عطا', 'Mehrshad',
       'Karan', 'مهراد', 'امیرسجاد', 'علی طوسی', 'سپهر', 'سید علیرضا',
       'رهی', 'سید بهیاد - طاهره', 'سیدحامد', 'Soban', 'Harjeet', 'Radin',
       'سحر', 'محمدباقر', 'مهنوش', 'Fariborz', 'Ritam', 'Aryan'
       'امیرسجاد', 'سپهر', 'محمدباقر'
    
]

#Update gender column
df.loc[df['Director Name'].isin(male_names_list), 'Gender'] = 'male'

In [ ]:
#Female's names
female_names_list = [
    'Sepide', 'آرزو', 'الهام', 'نگار', 'مریم', 'الهه', 'مهسا', 'زهرا',
       'Elika', 'الیکا', 'مژده', 'رعنا - عذرا', 'Rachel', 'شیوا', 'Roya',
       'Zahra', 'ژیلا', 'ستاره', 'زینب', 'Arezoo', 'پریناز', 'منیژه',
       'دنیا', 'Selin', 'روناک', 'سوگل', 'منا', 'مینا', 'کیمیا', 'ریحانه',
       'پانیذ', 'شهرزاد', 'سهیلا', 'سیده منصوره', 'سارا', 'اکرم', 'نگین',
       'هستی', 'فاطیما', 'Hasti', 'مهتاب', 'یاسمن', 'شکیبا', 'ملیکا',
       'سحرسادات', 'درسا', 'آیدا', 'Sara', 'روژان', 'روجا', 'مهدیس',
       'ترانه', 'Hoda', 'Nasim', 'Leila', 'Sama', 'Samira', 'نرجس',
       'گیتا', 'شادی', 'Niusha', 'مرجان', 'مهدیه', 'عارفه', 'زیور',
       'فاطمه', 'پوپک', 'Shugyla', 'بهجت', 'آسمان', 'Negin', 'Poroshat',
       'غزال', 'کتایون', 'Elakal', 'Samaneh', 'یکتا', 'لیدا', 'Azadeh',
       'عسل', 'فائزه', 'Negar', 'ساحل', 'شقایق', 'Anastasija', 'ایدا',
       'نسیم', 'ناهید', 'مائده', 'پگاه', 'نازنین', 'ساجده', 'فهیمه',
       'صبا', 'Safoura', 'خدیجه', 'سیده النا', 'نفیسه', 'Goli (Maryam)']

#Update gender column
df.loc[df['Director Name'].isin(female_names_list), 'Gender'] = 'female'

In [ ]:
df.loc[~df['Director Name'].isin(male_names_list) & ~df['Director Name'].isin(female_names_list), 'Gender'] = 'Other'

In [ ]:
df['Gender'].value_counts()

## Edit Countries

In [ ]:
df['Country of Residence'].unique()

In [ ]:
#Edit name of countries
location_mapping = {
    'ایران': 'Iran',
    'ایران-تبریز- کوی لاله -مجتمع باران': 'Iran',
    'Iran': 'Iran',
    'tehran': 'Iran',
    'تهران': 'Iran',
    'Canada': 'Canada',
    'France': 'France',
    'فارس': 'Iran',
    'کرج': 'Iran',
    'Tehran': 'Iran',
    'iarn': 'Iran',  
    'Korea': 'South Korea',
    'Türkiye': 'Turkey',
    'IRAN': 'Iran',
    'Turkey': 'Turkey',
    'امارات': 'UAE',
    'United States': 'USA',
    'ایران(تهران)': 'Iran',
    'Austria': 'Austria',
    'Iraq': 'Iraq',
    'iran': 'Iran',
    'England': 'United Kingdom',
    'Maroc': 'Morocco',
    'ایران / کانادا': 'Iran',
    'كانادا': 'Canada',
    'Kurdistan. Iraq': 'Iraq',
    'آلمان': 'Germany',
    'اسران': 'Iran',   
    'ايران': 'Iran',
    'یزد': 'Iran',
    'India': 'India',
    'O’zbekiston': 'Uzbekistan',
    'Tajikistan': 'Tajikistan',
    'South Korea': 'South Korea',
    'France - Reims': 'France',
    'The Netherlands': 'Netherlands',
    'Australia': 'Australia',
    'Germany': 'Germany',
    'کرمان': 'Iran',
    'NEPAL': 'Nepal',
    'Freiburg': 'Germany',
    'Dushanbe': 'Tajikistan',
    'USA': 'USA',
    'Kurdistan': 'Iraq',
    'پرتغال / ایران': 'Iran',
    'Kazakhstan': 'Kazakhstan',
    'tunis': 'Tunisia',
    'سوئد': 'Sweden',
    'كردستان': 'Iraq',
    'Egypt': 'Egypt',
    'Bangladesh': 'Bangladesh',
    'ایرانی': 'Iran',
    'هلند': 'Netherlands',
    'ایران / امریکا': 'USA',
    'اصفهان': 'Iran',
    'Morocco': 'Morocco',
    'Switzerland': 'Switzerland',
    'Cyprus': 'Cyprus',
    'Países Bajos': 'Netherlands',
    'تهران _کانادا': 'Canada',
    'Sri Lanka': 'Sri Lanka',
    'Sweden': 'Sweden',
    'india': 'India'
}

In [ ]:
df['Country of Residence'] = df['Country of Residence'].astype('object')

In [ ]:
df['Country of Residence'] = df['Country of Residence'].map(location_mapping).fillna(df['Country of Residence'])

In [ ]:
df['Country of Residence'].unique()

### Edit Durations

In [ ]:
df['Duration_cleaned'] = df['Duration'].str.replace(r"[^0-9,.':;]", "",regex=True)

In [ ]:
def convert_persian_to_english(text):
    persian_to_english_map = {
        '۰': '0', '۱': '1', '۲': '2', '۳': '3', '۴': '4',
        '۵': '5', '۶': '6', '۷': '7', '۸': '8', '۹': '9',
        '٠': '0', '١': '1', '٢': '2', '٣': '3', '٤': '4',
        '٥': '5', '٦': '6', '٧': '7', '٨': '8', '٩': '9'
    }
    for persian_digit, english_digit in persian_to_english_map.items():
        text = text.replace(persian_digit, english_digit)
    return text

# Apply the function to a specific column
df['duration_english'] = df['Duration'].apply(convert_persian_to_english)

In [ ]:


def convert_to_mm_ss(text):
    # Convert Persian/Arabic-Indic digits to English
    persian_to_english_map = {
        '۰': '0', '۱': '1', '۲': '2', '۳': '3', '۴': '4',
        '۵': '5', '۶': '6', '۷': '7', '۸': '8', '۹': '9',
        '٠': '0', '١': '1', '٢': '2', '٣': '3', '٤': '4',
        '٥': '5', '٦': '6', '٧': '7', '٨': '8', '٩': '9'
    }
    for persian_digit, english_digit in persian_to_english_map.items():
        text = text.replace(persian_digit, english_digit)

        # Standardize text
        text = text.lower().replace('دقیقه', 'min').replace('ساعت', 'hour').replace('hours', 'hour').replace('ثانیه', 'sec').replace('seconds', 'sec')

        minutes = 0
        seconds = 0

        # Handle "X hour" or "X hours"
        if 'hour' in text:
            match = re.search(r'(\d+)\s*hour', text)
            if match:
                minutes += int(match.group(1)) * 60

        # Handle "X min"
        if 'min' in text:
            match = re.search(r'(\d+)\s*min', text)
            if match:
                minutes += int(match.group(1))

        # Handle "X sec"
        if 'sec' in text:
            match = re.search(r'(\d+)\s*sec', text)
            if match:
                seconds += int(match.group(1))

        # Handle "X:Y" (HH:MM or MM:SS)
        if ':' in text:
            parts = text.split(':')
            if len(parts) == 2:  # Format MM:SS
                minutes_part = re.sub(r'\D', '', parts[0])  # Remove non-numeric characters
                seconds_part = re.sub(r'\D', '', parts[1])  # Remove non-numeric characters

                # Ensure both parts are not empty and are valid numbers
                if minutes_part.isdigit():
                    minutes += int(minutes_part)
                if seconds_part.isdigit():
                    seconds += int(seconds_part)

        # Handle decimal numbers (e.g., 3.5 hours or 1.5 min)
        match = re.search(r'(\d+\.\d+)', text)
        if match:
            decimal_minutes = float(match.group(1)) * 60
            minutes += int(decimal_minutes // 60)
            seconds += int(decimal_minutes % 60)

        # Handle single numbers (assume minutes)
        if re.match(r'^\d+$', text.strip()):
            minutes += int(text.strip())

        # Ensure seconds are less than 60
        minutes += seconds // 60
        seconds = seconds % 60

        return f"{minutes:02}:{seconds:02}"

# Apply the function to the column
df['duration_mm_ss'] = df['Duration'].apply(convert_to_mm_ss)

In [ ]:
df['duration_mm_ss'].unique()

#### I faced a challenge here. The values imported by applicants weren’t clear at all, so I made some manual tweaks :)).

In [ ]:
df[['Duration','duration_mm_ss']].iloc[900:]

In [ ]:
df.loc[918, 'duration_mm_ss'] = 'ٖ05:02'

### Edit Inspiration Status

In [ ]:
df['Inspired_By_Kiarostami_clean'] =df['Inspired By Kiarostami']

In [ ]:
df['Inspired_By_Kiarostami_clean'] = df['Inspired By Kiarostami'].str.strip().str.lower().replace(r'\r\n', '', regex=True)

In [ ]:
def inspired(value):
    if isinstance(value, str):  
        value = value.lower()
        if 'yes' in value or 'Yes' in value or 'بله' in value or 'آره' in value or 'اره' in value:
            return 'Yes'
        elif 'no' in value or 'No' in value or 'نه' in value or 'خیر' in value:
            return 'No'
        else:
            return 'Other ways'
    else:
        return 'Other ways'

In [ ]:
df['Inspired_By_Kiarostami_clean'] = df['Inspired By Kiarostami'].apply(inspired)

### Edit production year

In [ ]:
#Convert Solar year to Western calender year
df['Production Year'] = df['Production Year'].apply(lambda i: i + 622 if i < 2000 else i)

In [ ]:
Q1 = df['Production Year'].quantile(0.25)  # First quartile (25%)
Q3 = df['Production Year'].quantile(0.75)  # Third quartile (75%)
IQR = Q3 - Q1  # Interquartile range

# Define outlier bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Find outliers
outliers = df[(df['Production Year'] < lower_bound) | (df['Production Year'] > upper_bound)]

In [ ]:
outliers['Production Year']

In [ ]:
plt.boxplot(df['Production Year'])
plt.title("Boxplot for Outlier Detection")
plt.show()

### Create Age Column

In [ ]:
def extract_age(bio):
    current_year = datetime.now().year

    # Detect direct age expressions (e.g., "۱۸ ساله" or "18 years old")
    match = re.search(r'\b(\d{2,3})\s*(?:سال|years?)\b', bio, re.IGNORECASE)
    if match:
        age = int(match.group(1))
        return age if 10 <= age <= 120 else None

    # Detect birth year expressions (e.g., "متولد ۱۳۷۵" or "born in 1992")
    match = re.search(r'(?:متولد|born in)\s*(\d{4})', bio, re.IGNORECASE)
    if match:
        birth_year = int(match.group(1))
        if birth_year > 1300:  # تبدیل سال شمسی به میلادی
            birth_year += 621
        return current_year - birth_year if 10 <= (current_year - birth_year) <= 120 else None

    # Detect full birth date (e.g., "۳ اردیبهشت ۱۳۷۴" or "May 5, 1992")
    match = re.search(r'(\d{1,2})\s*(\w+)\s*(\d{4})\s*(?:در\s*[\w\s]+)?', bio, re.IGNORECASE)
    if match:
        try:
            day = int(match.group(1))
            month = match.group(2)
            year = int(match.group(3))
            
            # Convert Solar Hijri year to Gregorian
            if year > 1300:  
                year += 621

            # Persian month names
            months_shamsi = {
                'فروردین': 1, 'اردیبهشت': 2, 'خرداد': 3, 'تیر': 4, 'مرداد': 5, 'شهریور': 6,
                'مهر': 7, 'آبان': 8, 'آذر': 9, 'دی': 10, 'بهمن': 11, 'اسفند': 12
            }
            
            # English month names
            months_english = {
                'January': 1, 'February': 2, 'March': 3, 'April': 4, 'May': 5, 'June': 6,
                'July': 7, 'August': 8, 'September': 9, 'October': 10, 'November': 11, 'December': 12
            }

            # Determine whether the month is Persian or Gregorian
            month_number = months_shamsi.get(month, None)
            if not month_number:
                month_number = months_english.get(month, None)

            if month_number:
                birth_date = datetime(year, month_number, day)
                return current_year - birth_date.year if 10 <= (current_year - birth_date.year) <= 120 else None
        except ValueError:
            pass

    # Detect birth date in "۲۶/۱/۱۳۸۲" format
    match = re.search(r'(?:متولد)\s*(\d{1,2})/(\d{1,2})/(\d{4})', bio)
    if match:
        day = int(match.group(1))
        month = int(match.group(2))
        year = int(match.group(3))
         # Convert Solar Hijri year to Gregorian
        if year > 1300:  
            year += 621
        birth_date = datetime(year, month, day)
        return current_year - birth_date.year if 10 <= (current_year - birth_date.year) <= 120 else None

    # Detect age from phrases like "۲۵ ساله"
    match = re.search(r'(\d{1,3})\s*سال\s*ه', bio)
    if match:
        age = int(match.group(1))
        return age if 10 <= age <= 120 else None

    return None

In [ ]:
df['Age'] = df['Biography'].apply(lambda x: extract_age(x) if isinstance(x, str) else None)

In [ ]:
Q1 = df['Age'].quantile(0.25)  # First quartile (25%)
Q3 = df['Age'].quantile(0.75)  # Third quartile (75%)
IQR = Q3 - Q1  # Interquartile range

# Define outlier bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Find outliers
outliers = df[(df['Age'] < lower_bound) | (df['Age'] > upper_bound)]

In [ ]:
outliers

In [ ]:
df.to_csv('./Final_dataset.csv')